<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Main Blog</title>
</head>
<body>
    <header>
    {{#if loggedIn}}
    <a href="/create">Create Post</a>
    <a href="/account">My Account</a>
        {{else}}
        <a href="/login">Create Post</a>
        <a href="/login">Login</a>
        {{/if}}
    </header>
    {{{ body }}}
</body>
{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}
</html>