<link rel="stylesheet" href="/css/create.css">

<header class="showHeader">
<h2>Fitness Blog</h2>
    <div class="row">
    <a href="/create">Create Post</a>
    <a id="logout" href="/profile">My Account</a>
    </div>
</header>

<form>
    <label>Title: </label>
    <input id="titleText" type="text">

    <label>Text: </label>
    <input id="textText" type="text">

    <input type="submit" value="Post">

</form>

<a class="center" href="/"><p>Main</p></a>

<script src="/js/create.js"></script>