<form>
    <label>Title: </label>
    <input id="titleText" type="text">

    <label>Text: </label>
    <input id="textText" type="text">

    <input type="submit" value="Post">

</form>

<script src="/js/create.js"></script>