<link rel="stylesheet" href="/css/create.css">

<header class="showHeader">
<h2>Fitness Blog</h2>
    <div class="row">
    <a href="/create">Create Post</a>
    <a id="logout" href="/profile">My Account</a>
    </div>
</header>

<form>
    <label>Title: </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="titleText" type="text">

    <label>Text: </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="textText" type="text">

    <input type="submit" value="Post">

</form>

<a class="center" href="/"><p>Main</p></a>

<script src="/js/create.js"></script>