<link rel="stylesheet" href="/css/create.css">

<header class="showHeader">
    <a class="bottom-0 center" href="/"><h2 class="text-4xl font-extrabold dark:text-white">Fitness Blog</h2></a>
    <div class="row">
    <a href="/create">Create Post</a>
    <a id="logout" href="/profile">My Account</a>
    </div>
</header>

<form>
    <label>Title: </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="titleText" type="text">

    <label>Text: </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="textText" type="text">

    <input class="font-bold" type="submit" value="Post">

</form>


<script src="/js/create.js"></script>