
<form>
    <label>Title: </label>
    <input id="titleText" type="text">

    <label>Text: </label>
    <input id="textText" type="text">

    <input type="submit" value="Post">

</form>

<a href="/"><h2>Main</h2></a>

<script src="/js/create.js"></script>