
<section>
  {{#each allPosts}}
    <article class="post-article" id="{{ this.id }}">
        <div class="font-bold" id="title-header">
            <h2 class="title">{{this.title}}</h2>
        </div>
            <p>{{this.text}}</p>
    </article>
  {{/each}}
</section>

<script src="/js/launch.js"></script>
