{{#if loggedIn}}
<a href="/create"><h2>Create Post</h2></a>
{{/if}}

<section>
  {{#each allPosts}}
    <article class="post-article" id="{{ this.id }}">
        <div id="title-header">
            <h2 class="pink title">{{this.title}}</h2>
            <p class="delete-btn">X</p>
        </div>
            <p>{{this.text}}</p>
    </article>
  {{/each}}
</section>

<script src="/js/launch.js"></script>
