<link rel="stylesheet" href="/css/profile.css">
{{#if loggedIn}}
<header class="showHeader">
    <a href="/create">Create Post</a>
    <a id="logout" href="/">Log Out</a>
</header>

<p>Hello {{ user.first_name }}</p>




{{ else }}

<p>Please <a href="/login">log in</a> or <a href="/login">create an account</a></p>
{{/if}}
<script src="/js/logout"></script>