<section>
    <article class="post-article" id="{{ id }}">
        <div id="title-header">
            <h2 class="pink title">{{title}}</h2>
            <p class="delete-btn">X</p>
        </div>
            <p>{{text}}</p>
    </article>
    <article>
        <h2>Share your thoughts</h2>
        <form>
            <input id="commentText" placeholder="Add comment">
            <input type="submit">
        </form>
    </article>
</section>

<script src="/js/singlePost.js"></script>