header {
    display: none;
}

.showHeader {
    display: flex !important;
    align-items: center;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

#titleText {
    height: 50px;
}

#textText {
    height: 150px;
    margin-bottom: 20px;
}