#title-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pink {
    color: pink
}

.post-article {
    border: pink 2px solid;
    border-radius: 5px;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}